.input-group
  = text_field_tag nil, nil, class: 'newTaskName form-control', placeholder: 'Start typing here to create a task...'
  %span.input-group-btn
    = button_tag class: 'addNewTask btn btn-default', style: 'background: #669D7F;' do
      Add task