<div id="addTask_form" class="span4" align="center">
  <%= form_for @task, :url => add_task_path(:project_id => project.id), remote: true do |f|%>
      <h4 style ="display: inline;">Name: </h4><%= f.text_field :name %>

      <%= f.submit class: 'btn btn-primary', style: 'background: #76AD8E;' do%>
          <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
          Add new project
      <%end%>
  <%end%>
</div>