%table.table.table-bordered.table-hover.sortable
  %tbody
    - project.tasks.each do |task|
      %tr.taskRow{:id=> task.id}
        %td
          = check_box_tag 'task_checkbox', task.id, task.completed
        %td{:width => "90%"}= task.name
        %td{:width => "10%"}
          %div{:style => "display: none;"}
            %span#sort.glyphicon.glyphicon-sort{"aria-hidden" => "true", :style => "color: #99B1D2; cursor: default;"}
            %div{:style => "color: #99B1D2; display: inline; cursor: default;"} |
            = link_to update_task_path(id: task.id), remote: true, style: 'color: #99B1D2;' do
              %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
            %div{:style => "color: #99B1D2; display: inline; cursor: default;"} |
            = link_to delete_task_path(id: task.id), remote: true, style: 'color: #99B1D2;' do
              %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}