<div id="addProject_form" class="span4" align="center">
<%= form_for @project, url: :create, remote: true do |f|%>
    <h4>Name: </h4>
    <%= f.text_field :name %><br><br>

    <%= f.submit class: 'btn btn-primary' do%>
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Add new project
    <%end%>
<%end%>
</div>