- unless flash[:error].nil?
  .alert
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %strong= flash[:error]

- unless @projects.nil? || @projects.empty?
  - @projects.each do |project|
    = render 'projects/projectPanel', :project => project
- else
  %h4#noProjects There are no any projects for you.