#list{:align => "center"}
  = render 'list'
%br
  %br
    .container
      .row
        .span4{:align => "center"}
          = button_tag id: 'addNewProject',class: 'btn btn-primary editable' do
            %i.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
            Add new project