@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background: image-url('background.png') center center no-repeat fixed;
  background-size: cover;
}

.form-group div{
  display: inline;
}

.editable-container
{
  display: inline-block;
}

.form-signin, .form-signup {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-signin-heading, .form-signup .form-signup-heading{
  margin-bottom: 10px;
}

.form-signin .form-control, .form-signup .form-control{
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

.form-signin input[type="email"], .form-signup input[type="email"]{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}